// Layout
@use "layout/grid";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    140deg,
    rgba(145, 232, 232, 1) 0%,
    rgba(189, 250, 255, 1) 75%
  );
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
