@use "../abstracts/variables" as v;

.board-grid {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  gap: 10px;
  width: fit-content;

  &__cell {
    border-radius: 5px;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__cell--alive {
    background: url(../../images/cell-64.png), v.$green;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__cell--dead {
    background-color: rgba(v.$purple-light, 0.6);
  }
}
